@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color:            black;
	--background-color: white;

	--white: #fff;
	--blue: #1e90ff;
	--green: #39d24a;
	--yellow: #ffe244;
	--pink: #ff36a3;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color:            white;
		--background-color: black;
	}
}

body {
	background:              var(--background-color);
	color:                   var(--color);
	font-family:             Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
	                         Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size:               15px;
	-webkit-font-smoothing:  antialiased;
	line-height:             1.6;
	-moz-osx-font-smoothing: grayscale;
	text-rendering:          optimizeLegibility;

	padding: 32px;
}
